* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.platform {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: black;
    width: 500px;
    height: 600px;
    border-radius: 10px;
}

header {
    width: 500px;
    height: 150px;
    margin-bottom: 10px;
}

.input-box {
    width: 400px;
    height: 90px;
    background-color: lightgray;
    font-size: 80px;
    text-align: right;
    margin: 50px 50px 20px 50px;
    padding-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons button {
    width: 100px;
    height: 90px;
    margin: 5px;
    padding: 10px;
}

@media only screen and (max-width: 499px) {
    .platform {
        width: 350px;
        height: 420px;
    }

    header {
        height: 105px;
    }

    .input-box {
        width: 280px;
        height: 63px;
        font-size: 56px;
        margin: 20px 35px;
    }

    .buttons button {
        width: 72px;
        height: 63px;
    }
}