* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.menu-container {
    background-color: #ED9613;
    padding: 15px 0;
    color: white;
    display: flex;
    justify-content: center;
}

.menu {
    border: 3px solid white;
    width: 900px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.items {
    /*border: 3px solid black;  for check */
    display: flex;
    justify-content: flex-end;
}

.button {
    margin-right: 20px;
    text-decoration: underline;
}

.home a {
    text-decoration: underline;
    color: white;
}

.header-container {
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.harry-potter-image {
    height: 300px;
}

.header-title-image {
    height: 300px;
}

.lord-of-ring-image {
    height: 300px;
}

.boxes-container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.boxes {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row1 {
    width: 200px;
    height: 200px;
}

.row1.box1{
    background-color: #FFEEFF;
}

.row1.box2{
    background-color: #DDDDEE;
}

.row1.box3{
    background-color: #DDFFFF;
}

.row1.box4{
    background-color: #DDDDCC;
}

.row1.box5{
    background-color: #CCCCEE;
}

.row2 {
    width: 200px;
    height: 200px;
}

.row2.box1{
    background-color: #CCCCFF;
}

.row2.box2{
    background-color: #FFCCCC;
}

.row2.box3{
    background-color: #FFFFCC;
}

.row2.box4{
    background-color: #DDFFDD;
}

.row2.box5{
    background-color: #DDCCDD;
}

.footer {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: black;
}

.footer-item {
    border: 3px solid black;
    background-color: orange;
    height: 68px;
    flex: 1;
}

.footer-two {
    background-color: darkorange;
    flex: initial;
    width: 300px;
}