* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.header{
    margin: 0 auto;
    background-color: darkgray;
}

h1 {
    text-align: center;
    color: white;
}

.home {
    color: white;
    text-align: right;
    display: block;
}

.page {
    width: 1000px;
    height: 100vh;
    background-color: darkblue;
    margin: 0 auto;
}

.comment {
    width: 800px;
    overflow: hidden;
    margin: 0 auto;

}

.comment-box {
    float: left;
    width: 45%;
    margin: 20px 2.35%;
    height: 160px;
    background-color: darkgray;
}

.avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin: 25px;
    border-radius: 40px;
    background-color: #D6E9FE;
}

.username {
    margin-top: 30px;
}

.content {
    margin: 10px;
    overflow: hidden;
}