* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: "Helvetica", "Arial", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
    text-align: center;
    width: 80%;
}

.form-header img{
    width: 100%;
}

.form-title {
    border: 5px solid white;
    border-radius: 10px;
    padding: 50px;
    line-height: 1.3;
    margin: 15px 0;
}

.form-title h1 {
    font-size: 3em;
}

.form-form {
    border: 5px solid white;
    border-radius: 10px;
    width: 80%;
    margin: 15px 0;
    padding: 50px;

}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form-row label {
    margin: 15px 0;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: white;
    border: 3px solid silver;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: blue;
    padding: 7px;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
    background-color: white;
    border: 3px solid silver;
    font-weight: bold;
    color: blue;
    box-shadow: none;
}

.gender {
    border: none;
    margin-bottom: 10px;
}

.gender legend {
    margin-bottom: 15px;
}

.gender .gender-label {
    display: block;
    padding: 0 5px 0 15px;
}

.gender input[type="radio"] {
    margin-top: 4px;
}

.gender .gender-label,
.gender input[type="radio"] {
    float: left;
}

.form-row select {
    width: 100%;
    font-size: 14px;
    padding: 5px;
    -webkit-appearance: none;
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
    color: blue;
}

.form-row .introduction {
    font-size: 14px;
}

.form-row .checkbox-label {
    margin-bottom: 0;
}

.form-row button {
    font-size: 2em;
    background-color: gray;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: silver;
}

.form-row button:active {
    background-color: blue;
    color: white;
}

@media only screen and (min-width: 700px) {
    .form-header,
    .form-form {
        width: 600px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    
    .form-row label {
        text-align: right;
        width: 120px;
        padding-right: 20px;
        margin-top: 7px;
    }

    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
        font-weight: bold;
        color: blue;
    }

    .gender legend {
        width: 120px;
        text-align: right;
        padding-right: 20px;
        float: left;
    }
    
    .form-row .introduction {
        margin: 0 120px;
    }

    .form-row .checkbox-label {
        margin-left: 50px;
        width: auto;
    }
    
    .form-row button {
        margin: 0 120px;
    }
}







