* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 1200px;
  font-size: 18px;
  font-family: sans-serif;
  color: #5D6063;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  padding: 50px;
  background: orange;
}

.menu {
  margin-top: 15px;
}

.menu li {
  display: inline;
  margin-right: 50px;
}

.menu li:last-of-type {
  margin-right: 0;
}

.dropdown {
    position: relative;
}

.dropdown span{
    z-index: 2;
    position: relative; /* Really important cause z-index needs position */
    cursor: pointer;
}

.dropdown:hover .submenu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    padding-top: 50px;
    border-radius: 10px;
    position: absolute;
    top: -20px;
    left: -20px;
}

.submenu {
    display: none;
}

.submenu li {
    list-style-type: none;
    margin: 10px 10px;
    padding: 5px;
    border-bottom: 2px solid white;
}

.submenu li:last-of-type {
    border-bottom: none;
}