* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BCB8B8;
    /*color: #393838;*/
    font-size: 17px;
    font-family: "Helvetica", "Arial", sans-serif;
}

.header {
    background-color: black;
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    color: white;
    font-size: 3em;
    text-indent: 20px;
    line-height: 80px;
}

.page {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    border-right: 2px solid black;
}

.contiainer {
    overflow: hidden;
    background-color: #BCB8B8;
}

.sidebar {
    float: left;
    width: 300px;
    height: 100vh;
    background-color: black;
    color: white;
}

.sidebar img{
    width: 100%;
    filter: grayscale(80%);
}

.navigater {
    padding: 0 5px;
    font-size: 1.3em;
    text-align: center;
    list-style-type: none;
}

.sentence {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 3px solid white;
}

a:link {
    color: hotpink;
    text-decoration: none;
}
a:visited {
    color: hotpink;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: underline;
}
a:active {
    color: gray;
    text-decoration: underline;
}

.html-css-dropdown {
    position: relative;
    color: hotpink;
    margin-bottom: 10px;
}

.html-css-dropdown span {
    z-index: 4;
    position: relative;
    cursor: pointer;
}

.html-css-dropdown:hover .html-css-submenu {
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #343434;
    padding-top: 40px;
    border-radius: 15px;
    top: -10px;
    left: 45px;
}

.html-css-submenu {
    display: none;
}

.html-css-submenu a{
    color: #C6C13B;
}

.html-css-submenu li {
    list-style-type: none;
    margin: 2px 10px;
}

.html-css-submenu li:first-of-type {
    border-top: 2px solid hotpink;
    padding-top: 5px;
}

.js-dropdown {
    position: relative;
    color: hotpink;
}

.js-dropdown span{
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.js-dropdown:hover .js-submenu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #343434;
    padding-top: 40px;
    border-radius: 15px;
    position: absolute;
    top: -10px;
    left: 30px;
}

.js-submenu {
    display: none;
}

.js-submenu li {
    list-style-type: none;
    margin: 2px 10px;
}

.js-submenu li:first-of-type {
    border-top: 2px solid hotpink;
    padding-top: 5px;
}

.js-submenu a {
    color: #C6C13B;
}

.content {
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.about-image {
    height: 100px;
    display: block;
    margin: 5px auto;
}

p {
    margin-bottom: 10px;
}

h2 {
    font-size: 3em;
    margin: 20px auto;
    text-align: center;
}

.about {
    font-size: 1.2em;
    margin: 0 15px;
    text-indent: 50px;

}

.skills {
    margin: 0 auto;
}

.skills li {
    margin: 5px 15px;
    font-size: 1.2em;
    list-style-position: inside;
}

hr {
    margin: 20px auto;
}

.footer {
    clear: both;
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    background-color: black;
}

/* Mobile */
@media only screen and (max-width: 400px) {

}

/* Pad */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* PC */
@media only screen and (min-width: 961px) {

}



